@charset "Shift_JIS";

/* Navigation
============================================================ */

.hpb-layoutset-01 #hpb-nav{
    background-image : url(top_mainimg_11_12.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 239px;
}

#hpb-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#hpb-nav ul::after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-nav ul li{
    float: left;
    width: 75px;
    margin-bottom: 5px;
    min-height: 92px;
}
#hpb-nav ul li a{
    display: block;
    background-image : url(ico_file_00_12.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 63px;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 1.1;
}

#hpb-nav ul li span.ja{
    display: none;
}

#hpb-nav ul li#nav-toppage a{
    background-image : url(ico_home_00_12.png);
}
/* Footer Navigation
============================================================ */

#hpb-footerNav ul li#home a span.en, #hpb-footerNav ul li#pagetop a span.en{
    display: none;
}

#hpb-footerNav{
    background-color: #4082cb;
    border-top-color: #2971c1;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #aecbec;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#hpb-footerNav ul{
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    text-align: right;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
}

#hpb-footerNav ul li{
    display: inline;
    line-height: 2.2;
}
#hpb-footerNav ul li a{
    color: #fff;
    padding-left: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
}
#hpb-footerNav ul li#home a{
    background-image : url(ico_footer_home_00_12.png);
    background-position: left center;
    background-repeat: no-repeat;
}
#hpb-footerNav ul li#pagetop a{
    background-image : url(ico_footer_top_00_12.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#hpb-footerExtra1 ul{
    list-style: none;
    padding-left: 7px;
    margin-top: 2px;
}
#hpb-footerExtra1 ul li{
    display: inline;
    line-height: 2.2;
}
#hpb-footerExtra1 ul li a{
    background-image : url(arrow_00_12.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 19px;
}

/* Main Contents
============================================================ */

/* header logo */

#hpb-inner #hpb-title{
    margin-top: -1px;
    background-image : url(bg_header_00_12.png);
    background-repeat: repeat-x;
    background-position: left top;
    width: 100%;
    padding-top: 4px;
    margin-left: 0px;
}

.hpb-layoutset-01 #hpb-title h1, .hpb-layoutset-02 #hpb-title h1{
    display: block;
    background-image : url(header_title_11_12.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 271px;
    height: 53px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hpb-layoutset-01 #hpb-title h2, .hpb-layoutset-02 #hpb-title h2{
    font-weight: normal;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: none;
    border: none;
}

#hpb-title p{
    padding-left: 10px;
    padding-right: 10px;
}
/* Common ==================== */


.hpb-layoutset-02 #hpb-main h3.hpb-c-index{
    visibility: visible;
    display: block;
    height: auto;
    text-indent: inherit;
    margin-bottom: 1em;
}


.hpb-section{
    overflow: hidden;
}

.hpb-section p{
    word-break: break-all;
    font-size: 12px;
}

/* Top Page ==================== */

.hpb-layoutset-01 #toppage-item{
    border-top-color: #81b9f6;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: #81b9f6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: normal;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5FCFF), to(#CAF1FF));
    margin-top: 0;
}
.hpb-layoutset-01 #toppage h4{
    font-size: 14px;
    color: #659ddc;
    margin-bottom: 5px;
}
.hpb-layoutset-01 .hpb-section p{
    padding-top: 0;
    padding-left: 0;
    padding-right: 10px;
}
#hpb-main #toppage-news ul{
    margin: 0 15px;
    font-size: 12px;
    list-style: none;
    padding: 0;
}

#hpb-main #toppage-news ul li{
    margin-bottom: 15px;
}

#hpb-main #toppage-news ul li h4{
    margin: 0;
    padding: 0;
}

.hpb-layoutset-01 #hpb-main #toppage-news h3 .en{
    display: none;
}

#hpb-main #toppage-news h3, #hpb-main #toppage-info h3{
    border-top-color: #88cbe8;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #6a9ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-shadow: 1px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c1ebfc), color-stop(0.51, #73a8e3), to(#73a8e3));
}
#hpb-main #toppage-news h3 .en, #hpb-main #toppage-info h3 .en{
    text-transform: uppercase;
}
#hpb-main #toppage-info .hpb-section h4{
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}
#hpb-main #toppage-info .hpb-section p{
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}
/* Second Page ==================== */

.hpb-layoutset-02 #hpb-main h3{
    border-top-color: #88cbe8;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #6a9ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    text-shadow: 1px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c1ebfc), color-stop(0.51, #73a8e3), to(#73a8e3));
}

.hpb-layoutset-02 #hpb-main h3 .ja{
    display: none;
}

.hpb-layoutset-02 #hpb-main h4{
    margin: 5px 0 10px 10px;
    font-size: 14px;
    color: #659ddc;
}

.hpb-layoutset-02 .hpb-section p{
    padding-left: 10px;
    padding-right: 10px;
}

.hpb-layoutset-02 .hpb-section > img{
    margin-left: 10px;
}

.hpb-layoutset-02 #hpb-main p.large{
    padding: 5px 15px 0px;
    font-size: 14px;
}

.hpb-layoutset-02 #hpb-main p.indent{
    margin-left: 1.5em;
    margin-right: 15px;
    margin-bottom: 20px;
}

.hpb-layoutset-02 #hpb-main dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main dt{
    float: left;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main dd{
    margin: 0 0 5px;
    overflow: hidden;
}

.hpb-layoutset-02 #hpb-main table{
    margin: 0 10px 10px 10px;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

.hpb-layoutset-02 #hpb-main th{
    font-weight: normal;
    background-color: #e7f3ff;
    text-align: left;
    padding: 4px 6px;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

.hpb-layoutset-02 #hpb-main td{
    text-align: left;
    padding: 4px 6px;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

.hpb-layoutset-02 #hpb-main ol{
    margin: 0 15px;
    padding: 0 15px;
}

.hpb-layoutset-02 #hpb-main ol li{
    margin-bottom: 15px;
}

.hpb-layoutset-02 #hpb-main ol h4{
    margin: 0;
}
/* ========== topics ========== */

#hpb-main #toppage-info > img{
    margin-left: 12px;
}

#hpb-main #toppage-info p.access a{
    width: 100px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
    color: #333;
    text-decoration: none;
}

#hpb-main #toppage #toppage-news dl{
    margin: 0 15px;
    font-size: 12px;
}
#hpb-main #toppage #toppage-news dt{
    float: left;
    margin-right: 10px;
}
#hpb-main #toppage #toppage-news dd{
    margin: 0 0 5px;
    overflow: hidden;
}
#hpb-main .hpb-section .news-comment{
    padding: 0px 15px 20px;
    overflow: hidden;
}

#hpb-main #toppage .news-comment, #hpb-main #toppage .info-comment{
    margin: 0 5px 0px;
    padding: 10px;
    overflow: hidden;
}

#hpb-main .news-comment, #hpb-main .info-comment{
    padding: 0 10px;
}

#hpb-main .news-comment .news-photo, #hpb-main .info-comment .info-photo{
    float: left;
    margin: 0 10px 0 0;
}

#hpb-main .news-comment .date, #hpb-main .info-comment .date{
    display: inline-block;
    margin-bottom: 5px;
}


/* ========== topics item ========== */

.hpb-layoutset-02 #hpb-main #toppage-item .item img{
    margin-left: 10px;
}

.hpb-layoutset-02 #hpb-main .item p.more a{
    width: 100px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
    color: #333;
    text-decoration: none;
}

.hpb-layoutset-02 #hpb-main .price{
    color: #ff5770;
}

.hpb-layoutset-02 #hpb-main #toppage-special ul{
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

.hpb-layoutset-02 #hpb-main #toppage-special ul li{
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.hpb-layoutset-02 #hpb-main #toppage-special ul li a{
    display: block;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.1, #fff), to(#f1de09));
    padding: 7px;
}

/* ========== item ========== */


.hpb-layoutset-02 #hpb-main #item ul{
    padding: 0 15px;
    list-style: none;
}
.hpb-layoutset-02 #hpb-main #item li{
    background-image : url(arrow_00_12.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 19px;
    margin-bottom: 5px;
}

.hpb-layoutset-02 #hpb-main #item .item > a img{
    margin-left: 10px;
}

/* ========== itemlist ========== */

.hpb-layoutset-02 #hpb-main #item .itemlist h4{
    clear: both;
}

.hpb-layoutset-02 #hpb-main #item .itemlist .cat{
    padding-right: 10px;
}

.hpb-layoutset-02 #hpb-main #item .item p.icon{
    margin: 0;
    padding-top: 0;
}
.hpb-layoutset-02 #hpb-main #item .item p.price{
    margin: 0;
}

/* ========== campaign ========== */

.hpb-layoutset-02 #hpb-main #campaign .icon img{
    margin-right: 5px;
}

.hpb-layoutset-02 #hpb-main #campaign .image{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
}

.hpb-layoutset-02 #hpb-main #campaign #spring .image{
    background-color: #ffe4ef;
    border-color: #ffc1db;
}
.hpb-layoutset-02 #hpb-main #campaign #summer .image{
    background-color: #ffe4ef;
    border-color: #ffc1db;
}
.hpb-layoutset-02 #hpb-main #campaign #autumn .image{
    background-color: #ffe4ef;
    border-color: #ffc1db;
}
.hpb-layoutset-02 #hpb-main #campaign #winter .image{
    background-color: #ffe4ef;
    border-color: #ffc1db;
}

.hpb-layoutset-02 #hpb-main #campaign .item{
    width: 100%;
    float: none;
}

.hpb-layoutset-02 #hpb-main #campaign .item img{
    margin-left: 10px;
    margin-bottom: 5px;
}

/* ========== shop ========== */

.hpb-layoutset-02 #hpb-main #shop dl{
    margin: 0 15px;
    width: 100%;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #shop dt{
    float: left;
    width: 9em;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main #shop dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== concept ========== */

.hpb-layoutset-02 #hpb-main #concept .hpb-section{
    padding-bottom: 10px;
}

.hpb-layoutset-02 #hpb-main #concept .hpb-section:last-child p:last-child{
    margin-bottom: 0;
}
.hpb-layoutset-02 #hpb-main #concept dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #concept dt{
    float: left;
    width: 5.5em;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main #concept dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== estate ========== */

.hpb-layoutset-02 #hpb-main #estate .data > img, .hpb-layoutset-02 #hpb-main #estate .data > a img{
    margin-left: 10px;
}

#hpb-main #estate p.more a{
    width: 200px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
    color: #333;
    text-decoration: none;
}

/* ========== detail ========== */

.hpb-layoutset-02 #hpb-main #detail-imgbox img{
    margin-left: 10px;
}

.hpb-layoutset-02 #hpb-main #detail dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #detail dt{
    float: left;
    padding-left: 10px;
    width: 5em;
    color: #0176b9;
}
.hpb-layoutset-02 #hpb-main #detail dd{
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
}
.hpb-layoutset-02 #hpb-main #detail p{
    padding: 0 10px;
}

.hpb-layoutset-02 #hpb-main #detail h3 img{
    margin-left: 10px;
}

.hpb-layoutset-02 #hpb-main #detail .bujtton input{
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
    margin-bottom: 8px;
}

/* ========== plan ========== */

.hpb-layoutset-02 #hpb-main #plan dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #plan dt{
    float: left;
    padding-left: 10px;
    width: 8em;
    color: #0176b9;
}
.hpb-layoutset-02 #hpb-main #plan dd{
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
}

/* ========== dish ========== */

.hpb-layoutset-02 #hpb-main #dish{
    padding-top: 10px;
}

.hpb-layoutset-02 #hpb-main #dish p{
    padding: 0 10px;
}

.hpb-layoutset-02 #hpb-main #dish > img{
    margin-left: 10px;
}

.hpb-layoutset-02 #hpb-main #dish dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #dish dt{
    float: left;
    padding-left: 10px;
}
.hpb-layoutset-02 #hpb-main #dish dd{
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
    color: #ff5770;
    text-align: right;
}


/* ========== menu ========== */

.hpb-layoutset-02 #hpb-main #menu dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #menu dt{
    float: left;
    padding-left: 10px;
}
.hpb-layoutset-02 #hpb-main #menu dd{
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
    color: #ff5770;
    text-align: right;
}
.hpb-layoutset-02 #hpb-main #menu p{
    padding: 0 10px;
}

/* ========== news ========== */

.hpb-layoutset-02 #hpb-main #news p.large{
    padding: 10px 15px 0px;
}
.hpb-layoutset-02 #hpb-main #news p.indent{
    text-indent: -1.3em;
    margin-left: 26px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding-bottom: 5px;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section h4{
    margin-left: 20px;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section h5{
    font-size: 12px;
    margin: 10px 15px 10px 22px;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section p.large{
    margin: 0;
    padding: 0 15px;
}
.hpb-layoutset-02 #hpb-main #news dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #news dt{
    float: left;
    margin-right: 10px;
    width: 5.5em;
    color: #0d9294;
}
.hpb-layoutset-02 #hpb-main #news dd{
    margin: 0 0 15px;
    overflow: hidden;
}

.hpb-layoutset-02 #hpb-main #news #coupon-off{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff8395;
    background-color: #ffdbe0;
    padding: 5px;
}

.hpb-layoutset-02 #hpb-main #news #coupon-off h4{
    margin-left: 10px;
    color: #ff5770;
    font-size: 16px;
}

.hpb-layoutset-02 #hpb-main #news #coupon-off p.large{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.hpb-layoutset-02 #hpb-main #news #coupon-off strong{
    font-size: 16px;
    color: #CC0033;
}

.hpb-layoutset-02 #hpb-main #news #coupon-limit{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: dotted;
    border-color: #ff8395;
    padding: 5px;
}
.hpb-layoutset-02 #hpb-main #news #coupon-limit h4{
    margin-left: 10px;
    color: #ff5770;
}

.hpb-layoutset-02 #hpb-main #news #coupon-limit p{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

/* ========== company ========== */
.hpb-layoutset-02 #hpb-main #company .hpb-section{
    padding: 0 0 25px;
}
.hpb-layoutset-02 #hpb-main #company dl{
    margin: 10px 15px;
}
.hpb-layoutset-02 #hpb-main #company dt{
    float: left;
    width: 5.5em;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main #company dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== recruit ========== */

.hpb-layoutset-02 #hpb-main #recruit dl{
    margin: 0;
}
.hpb-layoutset-02 #hpb-main #recruit dt{
    margin: 0 0 10px;
    padding: 2px 15px 0 14px;
    line-height: 1.0;
    width: 5em;
}
.hpb-layoutset-02 #hpb-main #recruit dd{
    margin: 15px 15px 20px;
    padding: 0;
}

/* ========== access ========== */

.hpb-layoutset-02 #hpb-main #access dt{
    width: 5em;
}

/* ========== contact ========== */

.hpb-layoutset-02 #hpb-main .section input, .hpb-layoutset-02 #hpb-main .section textarea, .hpb-layoutset-02 #hpb-main .section div input, .hpb-layoutset-02 #hpb-main .section div textarea{
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
}
.hpb-layoutset-02 #hpb-main .section input{
    height: 30px;
}
.hpb-layoutset-02 #hpb-main .section textarea, .hpb-layoutset-02 #hpb-main .hpb-section .section div textarea{
    height: 160px;
}
.hpb-layoutset-02 #hpb-main #contact .section input:focus, .hpb-layoutset-02 #hpb-main #contact .section textarea:focus, .hpb-layoutset-02 #hpb-main .hpb-section .section div input:focus, .hpb-layoutset-02 #hpb-main .hpb-section .section div textarea:focus{
    background: #fff;
}
.hpb-layoutset-02 #hpb-main form .section p a{
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.hpb-layoutset-02 #hpb-main .section input.s{
    display: inline-block;
    width: 30px;
    margin: 5px 5px 5px 10px;
}
#hpb-main .hpb-section .section{
    margin: 0 15px 0 0;
}
#hpb-main .hpb-section .section textarea{
    width: 95%;
}
#hpb-main .hpb-section .section input.l{
    width: 95%;
}
#hpb-main .hpb-section .section input.m{
    width: 95%;
}
.hpb-layoutset-02 #hpb-main #reserve .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #contact .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #contactus .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #information .hpb-section .submit div{
    margin: 10px auto;
    text-align: center;
}

.hpb-layoutset-02 #hpb-main #reserve .button, .hpb-layoutset-02 #hpb-main #contact .button, .hpb-layoutset-02 #hpb-main #contactus .button, .hpb-layoutset-02 #hpb-main #information .button{
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.4, #fff), to(#eaeaea));
    margin-bottom: 8px;
    font-size: 14px;
}


/* ========== Privacy Policy ========== */

.hpb-layoutset-02 #hpb-main #privacy ul{
    padding: 0 15px;
    list-style: none;
}
.hpb-layoutset-02 #hpb-main #privacy li{
    background-image : url(arrow_00_12.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 19px;
}

/* 縦向き表示時のみ適用 */
@media only screen and (orientation : portrait)
{
    .hpb-layoutset-02 #hpb-main #privacy h3{
        letter-spacing: -1px;
    }
}

/* ========== Law ========== */
.hpb-layoutset-02 #hpb-main #law dl{
    margin: 0 15px;
    padding: 10px 0;
}
.hpb-layoutset-02 #hpb-main #law dt{
    float: left;
    width: 7em;
    margin-right: 10px;
}
.hpb-layoutset-02 #hpb-main #law dd{
    margin: 0 0 10px;
    overflow: hidden;
}

